# PostgreSQL
DB_URL=jdbc:postgresql://localhost:5432/docintel
DB_USERNAME=postgres
DB_PASSWORD=postgres
POSTGRES_DB=docintel

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# JWT
JWT_SECRET=sua-chave-super-secreta-com-pelo-menos-32-caracteres